
    <!-- food Grid Section -->
    <section class="success" id="food">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>We Love Food!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
        
                {% for post in site.posts %}
                    {% if post.category == 'food' %}
                    
                        
                    <div class="col-sm-4 food-item">
                        <a href="#foodModal-{{ post.modal-id }}" class="food-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/food/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                

                {% endif %}
                
                {% endfor %}
        


            </div>
        </div>
    </section>