
    <!-- Friends Grid Section -->
    <section id="friends">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Friends</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    {% if post.category == 'friends' %}
                    
                        
                    <div class="col-sm-4 friends-item">
                        <a href="#friendsModal-{{ post.modal-id }}" class="friends-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/friends/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                

                {% endif %}
                
                {% endfor %}
            </div>
        </div>
    </section>