    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">Welcome to our group's fun pages! :) </span>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://choolab.caltech.edu/index_files/The_Choo_Lab_Research.htm" class="btn btn-lg btn-outline">
                        Click here to go back to the research page 
                    </a>
                </div>
                </div>
            </div>
        </div>
    </header>