
    <!-- Outings Grid Section -->
    <section id="outings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Outings and events</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    {% if post.category == 'outings' %}
                    
                        <!-- post.img is the cover photo! -->
                    <div class="col-sm-4 outings-item">
                        <a href="#outingsModal-{{ post.modal-id }}" class="outings-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/outings/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                

                {% endif %}
                
                {% endfor %}
            </div>
        </div>
    </section>